h1 {
  font-size: 100px;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 50px;
  font-family: 'Jua', sans-serif;
}

head {
  font-family: 'Jua', sans-serif;
}

.middle {
  margin-top: 150px;
}

.button {
  border-radius:20px;
  background-color: #7facc1;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.c-icon {
    width:  36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.c-link--twitter:hover   { color: #55acee }
.c-link--instagram:hover { color: #833ab4 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--instagram:hover::after { background: #833ab4 }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
