<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Your Personal Diary</title>
    
  </head>

  <body>
      
    <h1><center>Welcome</h1></center>
      <h2><center>to your personal diary</h2></center>
   <button class="button"><span>BEGIN </span></button>

  </body>
</html>
