<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Your Personal Diary</title>
    
  </head>

  <body style="background-image: <%= @background_color %>;">
      <center>
          <h1>Diary</h1>
          <p><%= @diary  %></p>
      </center>
  </body>
</html>
