<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Your Personal Diary</title>
    
  </head>

  <body>
      <center>
          <h1>Welcome</h1>
          <h2>to your personal diary</h2>
          <a href="/page_2">
              <button class="button">
                  <span>BEGIN</span>
              </button>
          </a>
      </center>
  </body>
</html>
