<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Your Personal Diary</title>
    
  </head>

  <body background=https://wallpaper-house.com/data/out/10/wallpaper2you_401672.jpg>
      <center>
        <div class="middle">
          <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
          <img height="130"
          src="https://78.media.tumblr.com/e88e92744fa014f6adc6e660d4a858ed/tumblr_nzk4icmTAu1v28uimo1_500.png">
          <h1>Welcome</h1>
          <h2>to your personal diary!</h2>
          <a href="/page_2">
              <button class="button">
                  <span>BEGIN</span>
              </button>
          </a>
          </div>
      </center>
  </body>
</html>
