
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <title>Write It!</title>

</head>

<body background=https://wallpaper-house.com/data/out/10/wallpaper2you_401672.jpg>
    <center>
      <div class="middle">
        <form method="POST" action="/page_3">
        <h2>What is today's date?</h2>

        <label for="month">Month</label>
        <select id="month" name="month" />
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
        </select>

        <label for="day">Day</label>
        <select id="day" name="day" />
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
        </select>

        <label for="year">Year</label>
        <select id="year" name="year" />
        <option>2015</option>
        <option>2016</option>
        <option>2017</option>
        <option>2018</option>
        <option>2019</option>
        <option>2020</option>
        </select>

        <h2>What color are you feeling today?</h2>
        <select name="color">
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="orange">Orange</option>
          <option value="purple">Purple</option>
          <option value="pink">Pink</option>
        </select>
        <h2>Start writing your entry!</h2>
        <textarea rows="20" cols="80" name="diary"></textarea>
        <input type="submit" />
        </form>
      </div>
    </center>
</body>

</html>