<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Date and Color</title>
    
  </head>

  <body>
      
    <h2><center>What is today's date?</h2></center>
    
      <h2><center>What color are you feeling today?</h2></center>
    

  </body>
</html>
